{% extends 'base.html.twig' %}

{% block title %}Test Page{% endblock %}

{% block body %}
    <h1>Hello guys : {{ userName }} </h1>
    <p>This is our test</p>
{% endblock %}

{% block stylesheets %}
    <style>
        p{
            color:blue;
            font-weight: bold;
        }
    </style>
{% endblock %}
