{% extends 'base.html.twig' %}

{% block title %}Animal List{% endblock %}

{% block body %}
    <h1>Add countries to an Animal</h1>

    {{ form_start(myform) }}


    {{ form_end(myform) }}


{% endblock %}

{% block stylesheets %}
    <style>
    </style>
{% endblock %}
