{% extends 'base.html.twig' %}

{% block title %}Animal List{% endblock %}

{% block body %}
    <h1>Add an new User</h1>

    {{ form_start(myform) }}

    {{ form_end(myform) }}

    <script>
    </script>

{% endblock %}

{% block stylesheets %}
{% endblock %}
